<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsinc.mybatis.Member">
	<!-- by성택_사원 정보_20200521 -->
	<select id="memberInfo" resultType="dto_mem">
		select * from jsinc where
		empNo=#{empNo}
	</select>
	<!-- by해준_사원번호 중복체크_20200522 -->
	<select id="empNumChk" resultType="int">
		select count(*) from JSInc
		where empNo=#{empNo}
	</select>
	<!-- by해준_이메일 중복체크_20200522 -->
	<select id="emailChk" resultType="int">
		select count(*) from JSInc
		where userEmail=#{userEmail}
	</select>
	<!-- by해준_회원가입_20200522 -->
	<insert id="regMem" parameterType="com.jsinc.jsincDTO.MemberDTO">
		insert into JSinc
		values(#{empNo},#{password},#{name},#{birth},#{userEmail},#{phoneNumber},#{gender},#{mailChk},#{smsChk},#{dep},#{rank},#{img},#{authority})
	</insert>
	<!-- by해준_임시 비밀번호 초기화_20200529 -->
	<update id="newPw">
		update JSInc set
		password=#{password} where
		useremail=#{userEmail}
	</update>
	<!-- by성택_프로필 (이름,생년월일,전화번호,메일/SMS 수신여부) 수정_20200528 -->
	<update id="editProfile" parameterType="dto_mem">
		update jsinc set
		name=#{name}, birth=#{birth}, phoneNumber=#{phoneNumber},
		mailChk=#{mailChk}, smsChk=#{smsChk} where empNo=#{empNo}
	</update>
	<!-- by성택_비밀번호 변경_20200528 -->
	<update id="passwordChange" parameterType="dto_mem">
		update jsinc set
		password=#{password} where empNo=#{empNo}
	</update>

</mapper>
